

p{
    background-color:#f0f0f0;
    border:1px solid black;
    padding:10px;
    font-family: 'monaco', 'times', serif;

}



a:hover {
    color: green;
    font-size: x-large;
  }


.band-member-section{
    display: inline-block;
    background-color:lightgray
}









.intro-section{
    text-align:center;
    padding-top: 50px;
    font-size: large;
}

img {
    border-radius: 15px;
}
.banner-text{
    color: rgb(89, 165, 165);
}

p.intro-section{
    font-size: large;
    
}
.about-band{
    color: red;
    padding: 30px;
    border-radius: 15px;
    border: cyan;
    
}

