body{
    padding:50px;
    margin: 20px;
    background-image: url("images/band.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 100%;
    background-size: cover;
    background-position: center;
}


.intro-section{
    text-align:center;
    padding-top: 50px;
    font-size: large;
}

img {
    border-radius: 15px;
}
.banner-text{
    color: rgb(89, 165, 165);
}

p.intro-section{
    font-size: large;
    
}
.about-band{
    padding: 30px;
    border-radius: 15px;
    border: cyan;
    background-color: darkgray;
    
}
.video{
    padding: 30px;
    justify-content: center;
    display:block;
}

