body{
    padding:10px;
    border: 1px solid brown;
}

p{
    background-color:#f0f0f0;
    border:1px solid black;
    padding:10px;
    font-family: 'monaco', 'times', serif;

}
*{
    text-align:center;
}

h1{
    color:#0907a7;
    font-family:helvetica;
}

a:hover {
    color: green;
    font-size: x-large;
  }

  li{
    
}

.band-member-section{
    display: block;
    background-color:lightgray
}